.info-image {
    height: 50%;
    width: 50%;
}

.info-card {
    border-radius: 2%;
}

#Clouds,
#Snow {
    border-right: solid 1px lightgrey;
    border-bottom: solid 1px lightgrey;
    box-shadow: 2px 3px 10px rgb(194, 213, 224);
}

#Clear {
    border-right: solid 1px rgb(248, 221, 66);
    border-bottom: solid 1px rgb(248, 221, 66);
    box-shadow: 2px 3px 10px rgb(240, 227, 152);
}

#Atmosphere,
#Thunderstorm {
    border-right: solid 1px rgb(104, 104, 104);
    border-bottom: solid 1px rgb(104, 104, 104);
    box-shadow: 2px 3px 10px rgb(155, 155, 155);
}

#Drizzle,
#Rain {
    border-right: solid 1px lightskyblue;
    border-bottom: solid 1px lightskyblue;
    box-shadow: 2px 3px 10px rgb(187, 225, 248);
}

@media screen and (min-width: 480px) {
    .info-image {
        height: 20rem;
        width: 20rem;
    }

    .info-card {
        width: 40vw;
        padding: 2%;
    }
}
